:root {
    --ug-color-0: #CD853F;
    --ug-color-1: #B22222;
    --ug-color-2: #000080;
    --ug-color-3: #4B0082;
    --ug-color-4: #3CB371;
    --ug-color-5: #D2B48C;
    --ug-color-6: #FF00FF;
    --ug-color-7: #98FB98;
    --ug-color-8: #FFEBCD;
    --ug-color-9: #2E8B57;
    --ug-color-10: #6A5ACD;
    --ug-color-11: #48D1CC;
    --ug-color-12: #FFA500;
    --ug-color-13: #F4A460;
    --ug-color-14: #A52A2A;
    --ug-color-15: #FFE4C4;
    --ug-color-16: #FF4500;
    --ug-color-17: #AFEEEE;
    --ug-color-18: #FA8072;
    --ug-color-19: #2F4F4F;
    --ug-color-20: #FFDAB9;
    --ug-color-21: #BC8F8F;
    --ug-color-22: #FFC0CB;
    --ug-color-23: #00FA9A;
    --ug-color-24: #F0FFF0;
    --ug-color-25: #FFFACD;
    --ug-color-26: #F5F5F5;
    --ug-color-27: #FF6347;
    --ug-color-28: #FFFFF0;
    --ug-color-29: #7FFFD4;
    --ug-color-30: #E9967A;
    --ug-color-31: #7B68EE;
    --ug-color-32: #FFF8DC;
    --ug-color-33: #0000CD;
    --ug-color-34: #D2691E;
    --ug-color-35: #708090;
    --ug-color-36: #5F9EA0;
    --ug-color-37: #008080;
    --ug-color-38: #008000;
    --ug-color-39: #FFE4E1;
    --ug-color-40: #FFFF00;
    --ug-color-41: #FFFAF0;
    --ug-color-42: #DCDCDC;
    --ug-color-43: #ADFF2F;
    --ug-color-44: #ADD8E6;
    --ug-color-45: #8B008B;
    --ug-color-46: #7FFF00;
    --ug-color-47: #800000;
    --ug-color-48: #20B2AA;
    --ug-color-49: #556B2F;
    --ug-color-50: #778899;
    --ug-color-51: #E6E6FA;
    --ug-color-52: #FFFAFA;
    --ug-color-53: #FF7F50;
    --ug-color-54: #FF0000;
    --ug-color-55: #F5DEB3;
    --ug-color-56: #008B8B;
    --ug-color-57: #66CDAA;
    --ug-color-58: #808000;
    --ug-color-59: #FAF0E6;
    --ug-color-60: #00BFFF;
    --ug-color-61: #C71585;
    --ug-color-62: #00FFFF;
    --ug-color-63: #8B4513;
    --ug-color-64: #F0F8FF;
    --ug-color-65: #FAEBD7;
    --ug-color-66: #8B0000;
    --ug-color-67: #4682B4;
    --ug-color-68: #F0E68C;
    --ug-color-69: #BDB76B;
    --ug-color-70: #A0522D;
    --ug-color-71: #FAFAD2;
    --ug-color-72: #FFD700;
    --ug-color-73: #DEB887;
    --ug-color-74: #E0FFFF;
    --ug-color-75: #8A2BE2;
    --ug-color-76: #32CD32;
    --ug-color-77: #87CEFA;
    --ug-color-78: #00CED1;
    --ug-color-79: #696969;
    --ug-color-80: #DDA0DD;
    --ug-color-81: #EE82EE;
    --ug-color-82: #FFB6C1;
    --ug-color-83: #8FBC8F;
    --ug-color-84: #D8BFD8;
    --ug-color-85: #9400D3;
    --ug-color-86: #A9A9A9;
    --ug-color-87: #FFFFE0;
    --ug-color-88: #FFF5EE;
    --ug-color-89: #FFF0F5;
    --ug-color-90: #FFDEAD;
    --ug-color-91: #800080;
    --ug-color-92: #B0E0E6;
    --ug-color-93: #9932CC;
    --ug-color-94: #DAA520;
    --ug-color-95: #F0FFFF;
    --ug-color-96: #40E0D0;
    --ug-color-97: #00FF7F;
    --ug-color-98: #006400;
    --ug-color-99: #808080;
    --ug-color-100: #87CEEB;
    --ug-color-101: #0000FF;
    --ug-color-102: #6495ED;
    --ug-color-103: #FDF5E6;
    --ug-color-104: #B8860B;
    --ug-color-105: #BA55D3;
    --ug-color-106: #C0C0C0;
    --ug-color-107: #000000;
    --ug-color-108: #F08080;
    --ug-color-109: #B0C4DE;
    --ug-color-110: #00008B;
    --ug-color-111: #6B8E23;
    --ug-color-112: #FFE4B5;
    --ug-color-113: #FFA07A;
    --ug-color-114: #9ACD32;
    --ug-color-115: #FFFFFF;
    --ug-color-116: #F5F5DC;
    --ug-color-117: #90EE90;
    --ug-color-118: #1E90FF;
    --ug-color-119: #7CFC00;
    --ug-color-120: #FF69B4;
    --ug-color-121: #F8F8FF;
    --ug-color-122: #F5FFFA;
    --ug-color-123: #00FF00;
    --ug-color-124: #D3D3D3;
    --ug-color-125: #DB7093;
    --ug-color-126: #DA70D6;
    --ug-color-127: #FF1493;
    --ug-color-128: #228B22;
    --ug-color-129: #FFEFD5;
    --ug-color-130: #4169E1;
    --ug-color-131: #191970;
    --ug-color-132: #9370DB;
    --ug-color-133: #483D8B;
    --ug-color-134: #FF8C00;
    --ug-color-135: #EEE8AA;
    --ug-color-136: #CD5C5C;
    --ug-color-137: #DC143C;
}
